{% extends "layout.html"%}
{% block body %}

<div class="container-fluid">
	<div class = "card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white rounded">
	<h1> Application Status </h1>
	<form action="" method="POST">
		<div class="form-group">
			<input type="text" name="empid" class="form-control" placeholder="empid" required>
		</div>
		<div class="form-group">
			<input type="text" name="salary" class="form-control" placeholder="salary" required>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>
</div>
{% endblock %}