{% extends "layout.html"%}
{% block body %}

<div class="container-fluid">
	<div class = "card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white rounded">
	<h1> Mortage Request Form </h1>
	<form method = "POST" action="" onsubmit="return checkForm(this);">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control" placeholder="name" required="required" onchange="this.setCustomValidity(validity.valueMissing ? 'Please enter your name' : '');" />
		</div>
		<div class="form-group">
			<label for="mortgage value">Mortgage Value($)</label>
			<input type="text" name="mortgage_value" class="form-control" placeholder="mortgage_value" required="required" onchange="this.setCustomValidity(validity.valueMissing ? 'Please enter mortgage value' : '');" />
		<br>		
		<div class="form-group">
			<label for="m1sid">M1sID : </label>
			<select id = "myList">

 			 {% for re_Details in mbr2 %}
				<option  SELECTED>{{re_Details.M1sID }}</option>
 			{% endfor %}
             </select>
  </select> 
		


		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}